<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gamefield</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&display=swap');
    </style>
</head>
<body>
<div class="box">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="center">
            <br>
            <p class="starry">{{ word }}
            <p>
                {{ form.entry(class="entryField")}}
            </p>
        </div>
        <div>
            <p >
                {{ form.submit(class="button center labels lebutton") }}
            </p>
        </div>
    </form>
</div>
</body>
</html>