<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&display=swap');
    </style>
</head>
<body>
<div class="box">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="center">
            <div class="left labels">{{ form.login.label }}</div>
            <br>
            <p>
                {{ form.login() }}
            </p>
            <div class="left labels">{{ form.password.label }}</div>
            <br>
            <p>
                {{ form.password() }}
            </p>
            <div>
                <p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
            <div>
                <p>
                    {{ form.submit(class="register lebutton_l labels lebutton") }}
                    <a href="/sign_up" class="lebutton">
                        <button type="button" class="register labels lebutton_r">Register</button>
                    </a>
                    {#                <a href="/sign_up" class="register labels lebutton_r">Register</a>#}
                </p>
            </div>
        </div>

</div>
</form>
</div>
</body>
</html>