<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&display=swap');
</style>
<body>
<h1> Tables ♂ master ♂</h1>
<h2> Sign up to our site</h2>
<form action="/" method="post">
    {{ form.hidden_tag() }}
    <p>1.Entry your sign-in information</p>
    <p>
        {{ form.login.label }}
        <br>
        {{ form.login() }}
    </p>
    <p>
        {{ form.password_1st.label }}
        <br>
        {{ form.password_1st() }}
    </p>
    <p>
        {{ form.password_2nd.label }}
        <br>
        {{ form.password_2nd() }}
    </p>
    <p>2.Entry your sign-in information</p>
    <p>
        {{ form.submit() }}
    </p>
</form>

</body>
</html>